/tutorial
.idea/

**/target
/contest-target
/bin
.vagrant/

tags
tags.lock
tags.temp

/youki
/runtimetest
/contest

.vscode

*~

/bundle.tar.gz
/test.log

/tests/k8s/_out/
replace_content.txt
/e2e/k8s/_out/
