[submodule "integration_tests/oci-runtime-tests"]
	path = integration_tests/oci-runtime-tests/src/github.com/opencontainers/runtime-tools
	url = git@github.com:opencontainers/runtime-tools.git
	ignore = dirty

