[package]
name = "youki"
version = "0.0.1"
authors = ["youki team"]
edition = "2021"
description = "A container runtime written in Rust"
build = "build.rs"

[dependencies.clap]
version = "3.0.0-beta.5"
default-features = false
features = ["std", "suggestions", "derive", "cargo"]


[dependencies]
anyhow = "1.0.52"
chrono = { version="0.4", features = ["serde"] }
libcgroups = { path = "../libcgroups" }
libcontainer = { path = "../libcontainer" }
liboci-cli = { path = "../liboci-cli" }
log = {version = "0.4", features = ["std"]}
nix = "0.23.1"
oci-spec = { git = "https://github.com/containers/oci-spec-rs",  rev = "12dcd858543db0e7bfb1ef053d1b748f2fda74ee" }
once_cell = "1.9.0"
pentacle = "1.0.0"
procfs = "0.12.0"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
tabwriter = "1"
clap_generate = { version = "3.0.0-beta.5" }

[dev-dependencies]
serial_test = "0.5.1"

[build-dependencies]
anyhow = "1.0.52"
vergen = "6.0"
