[package]
name = "youki"
version = "0.0.3"
description = "A container runtime written in Rust"
license-file = "../../LICENSE"
repository = "https://github.com/containers/youki"
homepage = "https://containers.github.io/youki"
readme = "../../README.md"
authors = ["youki team"]
edition = "2021"
build = "build.rs"
keywords = ["youki", "container"]

[dependencies.clap]
version = "3.2.21"
default-features = false
features = ["std", "suggestions", "derive", "cargo"]

[dependencies]
anyhow = "1.0.60"
chrono = { version="0.4", features = ["serde"] }
libcgroups = { version = "0.0.3", path = "../libcgroups" }
libcontainer = { version = "0.0.3", path = "../libcontainer" }
liboci-cli = { version = "0.0.3", path = "../liboci-cli" }
log = { version = "0.4", features = ["std"]}
nix = "0.25.0"
oci-spec = { version = "0.5.8", features = ["runtime"] }
once_cell = "1.13.0"
pentacle = "1.0.0"
procfs = "0.14.1"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
tabwriter = "1"
clap_complete = "3.2.4"

[dev-dependencies]
serial_test = "0.9.0"

[build-dependencies]
anyhow = "1.0.60"
vergen = "7.2.1"
